@import url(https://fonts.googleapis.com/css?family=Montserrat);

.container {
  margin-bottom: 10px;
}

.waveHeightText {
  position: relative;
  z-index: 2;
  overflow: auto;
  bottom: 60px;
  left: 12px;
  color: white;
  font-weight: 600;
}

.waveImgWrapper {
  width: 60px;
  height: 55px;
  margin-right: 10px;
}

.noCamFoundWrapper {
  margin: 0 auto;
}

.noCamMessage {
  color: black;
  margin: 0 auto;
  text-align: center;
  font-family: "Montserrat";
  font-size: 12px;
}

.videoWrapper {
  text-align: center;
}

img {
  z-index: 1;
}



@media only screen and (max-width: 650px) {
  .waveHeightText {
    position: relative;
    z-index: 1;
    overflow: auto;
    bottom: 50px;
    left: 15px;
    color: white;
    font-weight: 600;
  }
  
  .waveImgWrapper {
    width: 60px;
    height: 55px;
    margin-right: 10px;
  }
  
  }