@import url(https://fonts.googleapis.com/css?family=Montserrat);

.container {
    margin-bottom: 10px;
}

.wave-height-text {
    position: relative;
    z-index: 2;
    overflow: scroll;
    bottom: 60px;
    left: 12px;
    color: white;
    font-weight: 600;
}

img {
    z-index: 1;
}