.App {
  text-align: left;
  background-image: url(./images/sahra-peterson-unsplash.jpg);
  background-size: cover;
  min-height: 100vh;

}


.addBeachbreak {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1rem;
 
}

