@import url(https://fonts.googleapis.com/css?family=Calligraffitti);
@import url(https://fonts.googleapis.com/css?family=Raleway);

p {
  font-family: "Montserrat";
}

span {
  font-family: "Montserrat";
}

.App {
  text-align: left;
}

.addBeachbreak {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 0;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 0;
  color: rgb(38, 138, 121);
  text-align: center;
  top: 50%;
  left: 50%;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 4em;
  text-shadow: 3px -3px 1px white;
  align-items: flex-start;
}

.beachbreakList {
  background-color: whitesmoke;
}

.goRight {
  display: flex;
  align-self: flex-end;
}

@keyframes fadeIn {
  from {
     opacity: 0;
  }
  to {
     opacity: 1;
  }
}

.fade-in {
 opacity: 0;
 animation: fadeIn ease-in 1;
 animation-fill-mode: forwards;
 animation-duration: 1s;
}

.styleProgressCircle {
  max-width: 100px;
  margin: 0 auto;
  margin-bottom: 120px;
  margin-top: 100px;
}

.MuiCircularProgress-colorPrimary {
  color: rgb(0, 189, 157) !important;
  border-style: solid;
  border-radius: 50%;
  border-width: 5px;
  border-color: white;
}

html, body { height: 100%; }
body {
  background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
  overflow: hidden;
}

.ocean { 

  height: 5vw;
  width:100vw;
  position:absolute;
  bottom:0;
  left:0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

 @keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  } 
}  

.surfing{
  position: absolute;
    left: 100%;
    top: 40%;
    margin: -50px 0 0 -50px;
    transform: translate3d(0, 0, 0);
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;;
}

.board-wrap {
  position: relative;
  top:-150px;
  z-index: 2;
  width: 150px;
  height: 50px;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}

.board-body {
      width: 238px;
      height: 50px;
      background: linear-gradient(#3333ff,teal,#3d8f81);
      border-radius: 190px / 41px;
      border-top: none;
      box-shadow: -5px -5px 3px rgba(0, 0, 0, 0.3) inset;
  }
